#back {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10%;
}
#arr {
    height: 20px;
    width: 20px;
}

#first_line {
    top:0px;
    left:0px;
    height: 70px;
    background-color: rgba(152, 152, 152, 0.148);
    display:flex;
    align-items: center;
}
#second_line {
    position: relative;
    height: 70px;
    left:150px;
    display:flex;
    align-items: center;
    border-bottom: 2px solid rgba(128, 128, 128, 0.147);
}

#google {
    vertical-align: -30px;
    height: 40px;
    width: 100px;
}
#search {
    font-size: large;
    position: relative;
    margin-top: 10;
    height: 40px;
    width: 600px;
}
#btn{
    height: 44px;
    width:44px;
}
.menu{
    margin: 12px;
    background-color: transparent;
    border: none;
    outline: none;
    border-block-end-width: none;
    color: rgba(128, 128, 128, 0.727);
    font-size: 15px;
}
#web {
    color: rgb(19, 163, 234);;
}
a {
    margin: 150px;
    color: rgb(0, 0, 197);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.ad {
    margin-left: 150px;
    background-color: rgba(255, 217, 0, 0.782);
    height: 20px;
    width: 24px;
    color: white;
    font-size: 11px;
    border-radius:15%;
    border:none;
}
span {
    width: 200px;
    color: darkgreen;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}
.info {
    margin-left: 150px;
    font-size: 15px;
    color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}
.noad{
    margin-left: 150px;
}