*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}
/*.section
{
    position: absolute;
    top: 0 ;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}*/
.icons{
    margin: auto;
}